Saved
Binaries
Intermediate
DerivedDataCache
.vs
Content/LevelPrototyping
Content/ThirdPerson
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
*blend1
/Build/Windows/FileOpenOrder
/Samples/PixelStreaming/WebServers
/Build/Windows
/.vs/Aura
/Binaries/Win64
/Intermediate
/Saved
/Saved/Logs/Aura.log
